.center-xy {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 90%;
}
.center-y {
    display: flex !important;
    align-items: center;
    height: 90%;
}

figcaption {
    text-align:center;
}

.reveal img {
    margin: 0;
}